- content_for(:hero) do
  = render :partial => '/shared/hero'

#home
  = render '/refinery/content_page'

  / .two_columns
  /   .column
  /     .teasers
  /       = @page.body
  / 
  /   .column
  /   
  /     %h2 Updates
  /     
  /     %p
  /       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut mi nulla. Vestibulum nunc tortor, pretium ut consectetur eu, ultrices quis ante. Nam lacus risus, blandit eget dignissim vel, malesuada non odio. Curabitur eu leo et metus ornare facilisis ac egestas arcu. Sed facilisis leo mauris, a blandit turpis. Mauris nunc dui, porta nec suscipit quis, imperdiet non neque. Pellentesque sit amet mollis turpis. Quisque ac tortor vitae magna hendrerit iaculis. Sed id nibh mauris, in placerat ipsum. Donec luctus ornare neque. Vivamus massa elit, porta consequat accumsan sit amet, ultricies vel est. Aliquam semper, augue sed feugiat accumsan, nulla enim tristique massa, vel tempor diam tortor vel sem. Aliquam ullamcorper nisl ut quam posuere vitae placerat augue molestie. Donec ultrices turpis eget orci iaculis in venenatis metus faucibus. Sed aliquet mauris eget augue aliquet posuere.
  / 
  /     %p
  /       Aenean tincidunt, ligula non tristique eleifend, nulla dui euismod lorem, et tincidunt turpis lacus sed erat. Nam blandit dictum lorem eget molestie. Proin at metus rutrum odio faucibus iaculis ac non ipsum. Quisque nibh dui, iaculis nec aliquet in, pharetra id urna. Cras posuere vestibulum urna, in bibendum elit iaculis non. Suspendisse porta est id metus sagittis fringilla. Aliquam ultricies odio id lectus lacinia quis gravida elit auctor. Ut elementum enim nec nisl pellentesque laoreet. Cras ullamcorper nunc eu urna pharetra malesuada. Sed interdum scelerisque ipsum, a volutpat sapien vulputate vel. Ut auctor dapibus libero nec tincidunt. Curabitur lacinia aliquam libero. Morbi porta velit ipsum, sit amet lobortis odio.
          
  / .one_column
  /   .overall
  /     %h2 Dream Big!
  /     %p
  /       (bring it all together into a vision)
  /   