<%= image_tag 'illustrations/house.jpg', :class => 'illustration' %>
<div class="text">
  <p>
    We're concerned about <strong>climate change</strong>, <strong>peak oil</strong> and the 
    <strong>economic and social uphevals</strong> that are likely to follow.
    A village is the most appropriate response to these challenges, and even without them, we think that it's a 
    great way for humans to live well together.
  </p>
  <p>
    A village is an enduring, fully-featured settlement, where the full range of human interactions occur. It 
    offers greater breadth and depth of social and employment opportunities than a suburb, subdivision or 
    even a neighbourhood. 
  </p>
</div>