<p>
  <%= image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration' %>
  <span class="strong1">Atamai Village is first and foremost a <span class="strong3">village</span>.</span> By tradition, <span class="strong1">a village is an <span class="strong2">enduring</span>, fully-featured settlement</span>, where the full range of human interactions occurs. It offers greater breadth and depth of <span class="strong3">social</span> and <span class="strong3">employment</span> opportunities than a suburb, subdivision or even a neighbourhood.
</p>
