<% if @page %>
  <% @sub_menu_pages = menu_pages(@page) %>
  <%# if !@sub_menu_pages.empty? %>
    <% menu = Refinery::Menu.new(@sub_menu_pages) %>
    <nav id='sub_menu' class='sub_menu'>
      <%= render(:partial => "/refinery/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu',
                   :hide_children => false,
                   :roots => menu.items
                 }) %>
      <!-- <ul>
        <%# @sub_menu_pages.each do |sub_menu_page| %>
          <%#= sub_menu_page.to_refinery_menu_item.inspect %>
          <%# menu_item = Refinery::MenuItem.new(sub_menu_page.to_refinery_menu_item) %>
          <%#= render :partial => '/refinery/menu_branch', :object => menu_item,
                     :locals => {
                       :hide_children => !(@page == sub_menu_page || @page.parent == sub_menu_page),
                       :sibling_count => (@sub_menu_pages.length - 1),
                       :apply_css => true
                     } -%>
        <%# end %>
      </ul> -->
    </nav>
  <%# end %>
<% end %>