<div id='sub_menu'>
  <%= render :partial => "refinery/menu", :locals => { 
    :roots => Refinery::Menu.new(Refinery::Page.fast_menu.where(:parent_id => @page.root.id)) 
  } %> 
</div>

<% if false %>
  <% if @page %>
    <% @sub_menu_pages = menu_pages(@page) %>
    <% if !@sub_menu_pages.empty? %>
      <nav id='sub_menu' class='sub_menu'>
        <ul>
          <% @sub_menu_pages.each do |sub_menu_page| %>
            <%= render :partial => '/refinery/menu_branch', :object => sub_menu_page,
                       :locals => {
                         :hide_children => !(@page == sub_menu_page || @page.parent == sub_menu_page),
                         :sibling_count => (@sub_menu_pages.length - 1),
                         :apply_css => true
                       } -%>
          <% end %>
        </ul>
      </nav>  
    <% end %>
  <% end %>
<% end %>