#page_container > header {
  height: 150px;
  background-image: url(/assets/layout/darkhead.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    height: 150px;
    position: relative;
  }

  .logo_container {
    height: 120px;
    width: 280px;
    margin-top: 10px;
    background-image: url(/assets/layout/Atamai_Village_logo_white_creme_primary.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
  #menu {
    display: block;
    float: right;
    margin: 0;
    padding: 71px 0px 0px 0px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      font-family: 'Arial', sans-serif;

      li {
        display: inline-block;
        height: 27px;
        padding: 0;
        margin: 0 0 0 20px;

        &.selected a {
          margin-top: 1px;
          font-weight: bold;
          border-bottom: 1px solid #f3efe2;
        }
        a {
          border-style:none;
        }
      }
    }
  }
}

@media(max-width: 900px) {
  #page_container > header {
    height: 110px;

    .logo_container {
      height: 90px;
      width: 210px;
    }

    #menu {
      padding-top: 46px;
    }
  }
}
