section#page {
  width: 100%;
  margin: $rythm 0 4em 0;
  @include clearfix();
}

$submenu-width: 280px;

#sidebar {
  width: $submenu-width;
  float: left;
  min-height: 400px;
}

#body_content {
  width: calc(100% - 300px);
  float: left;
  min-height: 400px;
  img {
    border: 2px solid #333;
  }
}

