<p>
  <%= t('.copyright', :year => Time.now.year, :site_name => "Atamai Village Council") %>.
  <br />
  <small>
    This website contains diverse views from members of AVC. See the 
    <a href="http://atamai.co.nz">sales website</a>
    for information from the developer.
  </small>
</p>
