<img id="footerLeaf" src="/assets/layout/leaf2.png">
<p>
  <%= t('.copyright', :year => Time.now.year, :site_name => "Atamai Village Council") %>.
  <br />
  Get in touch with us : <a href="mailto:hello@atamaivillage.org?Subject=Atamai Village via Website"> hello@atamaivillage.org</a>
 <%#= <small>
    This website contains diverse views from members of AVC. See the 
    <a href="http://www.atamaivillage.com/">sales website</a>
    for information from the developer.
  </small> %>
</p>
<div id="socialmedia_links">
    <a href="http://www.facebook.com/atamaivillage"><i class="fa fa-facebook-square"></i></a>
</div>
