a#sales_website {
  background-color: #323c48;
  color: white;
  display: block;
  border-bottom: 2px solid black;
  text-decoration: none;
  
  span {
    display: block;
  }
  
  .fixed_inner {
    padding-top: 6px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 14pt;
  }
  
  &:hover {
    background-color: #67778e;
  }
}

section#page #body_content {
  #mc_embed_signup {
    .mc-field-group {
      margin-bottom: 10px;

      label {
        width: 200px;

        .asterisk {
          color: #999999;
        }
      }

      input, textarea, select {
        width: 400px;
        font-size: 18px;
      }
    }

    input[type='submit'] {
      font-size: 18px;
      margin-left: 200px;
    }

    .indicates-required {
      color: #999999;
      font-size: 80%;
      margin-left: 200px;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
}
