h1{
  color: $lime-green;
  a {
    color: black;
    &:link, &:active, &:visited {
      color: black;
    }
  }
}

h1#body_content_title {
  color: $lime-green }
  
h2, h5 {
  color: $lime-green;
}

h3{
  color: #505b39;
}

h4{
  color: $lime-green;
}

#bread_crumb p, #bread_crumb h3, #bread_crumb a{
  color: $lime-green ;
}
a {
  color: $lime-green;
  &:link, &:active, &:visited {
    color: #4B5D45; }
}

#menu ul li{
  a{
    color: #f3efe2;
    &:link, &:active, &:visited {
      color: #f3efe2;
    }
    &:hover {
      color: $lime-green;
    }
  }
  &.selected a {
    color: white; 
    &:hover {
      color: white; 
    }
  }
}

#body_content_right, #side_body {
  h2 {
    color: #555;
  } 
}

#page_container {
 background-color: #f3efe2;
}
#page_container > header > .inner2{
  background-color: #323f2f;
}

#page_container > header > .inner .search_box {
  background-color: #1F2B1B;
  /*background-color: #001334;*/
}

#page_container > header > .inner .search_box input#query {
	background-color: #E7DDD4; }

#page_container > footer {
  background-color: #c8c89c;
  color: #505b39;
}

#page_container > footer a {
  color: white;
}

#hero {
  background-color: #302824;
}