$brown: #4A3D37;
$darker-brown: #201b18;

body {
  background-color: #323E2D;
}

a, a:link, a:active, a:visited {
  color: #4b5d45; 
}

h2 {
  color: #5F785A;
}


#page_container > header {
  background-color: #323f2f;
}

#page_container > header > .inner .search_box {
  background-color: #1F2B1B; }

#page_container > header > .inner .search_box input#query {
	background-color: #E7DDD4; }

#page_container > footer {
  border-top-color: #1F2B1B;
  background-color: #323E2D;
}

#submenu_container {
  background-color: $brown;

  > a.parent {
    background: $darker-brown;
  }
  
  ul > li a:link {
  	color: #CCC;
  }

}

/*

#blog_posts > article {
  background-color: #f7f4f2;
  border: 2px solid #ece3dc;
  margin-bottom: 10px;
  padding: 10px;
  *display: inline-block; }
  #blog_posts > article:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #blog_posts > article img {
    float: left;
    margin-right: 10px;
    border: 1px solid #302824; }
  #blog_posts > article a.community_link {
    float: right; }
  #blog_posts > article header h1 {
    margin: 0;
    font-size: 11pt;
    color: #1f2b1b; }
    #blog_posts > article details time.posted_at {
      float: right;
      color: #888;
    }
    #blog_posts > article details aside.tagged {
    display: none; }
  #blog_posts > article > section {
    margin: 0; }
    #blog_posts > article > section p {
      margin-bottom: 0; }
  #blog_posts > article footer p {
    margin: 0;
    float: left }
  #blog_posts > article footer aside {
    float: right;
    color: #888; }

*/
