body {
  background-color: #323E2D;
}

a, a:link, a:active, a:visited {
  color: #4b5d45; 
}

h2 {
  color: #5F785A;
}


#page_container > header {
  background-color: #323f2f;
}

#page_container > header > .inner .search_box {
  background-color: #1F2B1B; }

#page_container > header > .inner .search_box input#query {
	background-color: #E7DDD4; }

#page_container > footer {
  border-top-color: #1F2B1B;
  background-color: #323E2D;
}

#submenu_container {
  background-color: #5a7155;

  > a.parent {
    background: #42543e;
  }
}

#page_container > footer a {
  color: white;
}