/* HOME PAGE HERO */

#hero {
  border-top: 1px solid white;
  color: white;
  text-align: center;

  h1.site-title {
    color: #E7E4D9;
    text-align: center;
    max-width: 800px;
    margin: 100px auto 40px auto;
    font-size: 62px;
  }

  a.main-link {
    color: #E7E4D9;
    background-color: #AEC14C;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 100px;

    &:hover {
      background-color: darken(#AEC14C, 8%);
    }
  }
}

section#page {
  #home {
    /* TWITTER BOOTSTRAP POPOVER */
    .popover-wrapper { position: relative; }
    .popover { position: absolute; top: 0; left: 0; z-index: 1000; padding: 10px; display: block; }
    .popover.above .arrow { bottom: 0; left: 50%; margin-left: -5px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000000; }
    .popover.right .arrow { top: 50%; left: 0; margin-top: -5px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid #000000; }
    .popover.below .arrow { top: 0; left: 50%; margin-left: -5px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #000000; }
    .popover.left .arrow { top: 50%; right: 0; margin-top: -10px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #000000; }

    .popover .arrow { position: absolute; width: 0; height: 0; }
    .popover .inner { background: #000000; background: rgba(0, 0, 0, 0.8); padding: 3px; overflow: hidden; width: 280px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
    .popover .title { background-color: #f5f5f5; padding: 9px 15px; line-height: 1; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; border-bottom: 1px solid #eee; font-size: 18px; color: #404040; margin: 0; }
    .popover .content { background-color: #ffffff; padding: 14px; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; }
    .popover .content p, .popover .content ul, .popover .content ol { margin-bottom: 0; font-size: 13px; line-height: 18px; }

    .not_implemented { opacity: 0.5; filter: alpha(opacity = 50); zoom: 1; color: black; }
    .village_life { margin: 0 10px; text-align: center; height: 3em; line-height: 3em; margin-bottom: 1em }

    $rythm: 20px;
    $line-height: 1.5em;    
    $h1-height: 2.369em;

    .centered_scrollable {
      margin-top: 1em;
      font-size: $rythm;
      line-height: 1.5em;

      h1 { 
        font-size: $h1-height;
        line-height: 0.63318em;
        margin: 0 0 0.63318em 0;
        text-align: center;
      }
      section {
        margin: 0;
        padding: 0;
        margin-bottom: $line-height;

        p.blurb {
          font-size: 1em;
          line-height: $line-height;
          margin: 0 0 $line-height 0;
          text-align: center;

          a {
            font-weight: bold;
            color: #0066FF;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }

      .image-box {
        width: 100%;
        text-align: center;
        margin-bottom: $line-height;

        img {
          border: 1px solid black;
          margin: 0;
          margin-left: 0px;
          padding: 0;
          display: inline;
        }
        img:first-child{
          margin-left: 0;
        };
      }

      .three-images {
        height: 210px;        
      }
    }

    .two_columns {
      .column { width: 445px; float: left; }
      .column:first-child { margin-right: 50px; }
      margin: 0 10px; overflow: hidden;
      .main_column { width: 700px; }
    }
    .one_column {
      margin: 0 10px;
    }

    .rationale {
      font-size: 120%;
      line-height: 150%;
      margin-bottom: 2em;
      border-bottom: 2px solid #705D55;
      padding-left: 223px;
      background: transparent url(/assets/oil_sunset.jpg) no-repeat 0px 10px;
    }
  
    #body_content_title {
      display: none;
    }
  
    #body {
      background-color: #e7ddd4;
      padding: 20px;
      border: 1px solid #877168;
      $radius: 10px;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
      width: 445px;
      
      h2:first-child {
        margin-top: 0;
      }
      
      p:last-child {
        margin-bottom: 0;
      }
    }
    
    #side_body {
      width: 445px;
    }

    .teaser {
      h2 { margin: 3px 0 0.4em 0; color: #001334 }
      p { margin: 0 0 1em 0; text-align: justify }
      a.read_more { white-space: nowrap }
      a.illustration { text-decoration: none; }
      img.illustration { 
        border: 2px solid black;
         $radius: 8px;
         -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
         border-radius: $radius;
      }

      margin-bottom: 1em;
      width: 100%; 
      overflow: hidden
    }
    .teaser_question { 
      margin-bottom: 46px;

      .checklist_link {
        margin-top: 32px;
        background-image: url("/assets/checklist.jpg");
        background-repeat: no-repeat;
        background-color: white;
        display: block;
        height: 120px;
        padding-left: 170px;
        padding-top: 20px;
        font-size: 13pt;
        text-decoration: none;
        text-align: left;
        border: 2px solid white;
        color: #333;
        line-height: 160%;

        &:hover {
          border-color: #666;
          color: black;
        }
      }
    }

    .map_teaser {
      img.map { border: 1px solid black; float: right; margin: 5px 0 0 10px }
      .popover { top: 12px }
    }

    .movie_teaser {
      border: 2px solid black;
      $radius: 8px;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
      background-color: black;
    }

    .where_next {
      .inner { width: 400px; margin: 0 auto; margin-collapse: none}
      background-color: #d9c7b9; margin: 0 -20px -36px -20px
    }
  }
}