/* alignment styles */
.text-align-left  {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/*fixing position*/
.position-fixed-top {
    position:fixed !important;
    top: 0;
}
.position-fixed-center {
    position:fixed !important;
    top: 50%;
}
.position-fixed-bottom {
    position:fixed !important;
    bottom:0;
}

/* block alignment styles */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
.font-size-small {
  font-size: 0.75em;
}
.font-size-normal {
  font-size: 1em;
}
.font-size-large {
  font-size: 1.25em;
}


iframe.map {
 border: 2px solid black;
 margin: 1em auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans Regular, sans-serif;
  font-size: $base-font-size;
  line-height: $line-height;
  font-weight: normal; }

a {
  img, &:link img, &:active img, &:visited img {
    border: none; } 
}

ul {
  margin: $rythm 0 $rythm 0;
}

p {
  margin: 0;
  margin-bottom: $line-height;
}

.fixed {
  width: 1000px;
  margin: 0 auto;
  .fixed_inner {
    padding: 20px; } }

header, footer {
  width: 100%;
  margin: 0; }

img {
  &.illustration {
    border: 2px solid black; }
  &.left {
    float: left;
    margin: 5px 10px 0 0; }
  &.right {
    float: right;
    margin: 5px 0 0 10px; } }

#body_content_title {
  display: none;
}

#blog_posts article {
  background-color: #f7f4f2;
  border: 2px solid #ece3dc;
  margin-bottom: 10px;
  padding: 10px;
  *display: inline-block;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  img {
    float: left;
    margin-right: 10px;
    border: 1px solid #302824; }
  a.community_link {
    float: right; }
  header h1 {
    margin: 0;
    font-size: 11pt;
    color: #1f2b1b; }
  details {
    time.posted_at {
      float: right;
      color: #888; }
    aside.tagged {
      display: none; } }
  > section {
    margin: 0;
    p {
      margin-bottom: 0; } }
  footer {
    p {
      margin: 0;
      float: left;
      text-align:left;
      }
    aside {
      float: right;
      color: #888; } } }

      a {
  text-decoration: none;
  font-weight: normal;
  &:link {
    text-decoration: none;
    font-weight: normal;
  }
}

$page-width: 1070px;

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 20px;
}